<?xml version="1.0" ?>
<jsp:root version="2.0"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
	xmlns:posts="urn:jsptagdir:/WEB-INF/tags/resources"
	xmlns:tags="urn:jsptagdir:/WEB-INF/tags/tags"
	xmlns:layout="urn:jsptagdir:/WEB-INF/tags/layout"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:parts="urn:jsptagdir:/WEB-INF/tags/layout/parts"
	xmlns:bsform="urn:jsptagdir:/WEB-INF/tags/bs/form"
	xmlns:sidebar="urn:jsptagdir:/WEB-INF/tags/layout/sidebar"
	xmlns:form="http://www.springframework.org/tags/form">
	
	<jsp:directive.page contentType="text/html; charset=UTF-8" language="java" pageEncoding="UTF-8" session="true" />
	
	<fmt:message key="limited_account.activation.naviActivate" var="pageTitle" />
	
	<layout:paneLayout command="${command}" pageTitle="${pageTitle}" requPath="${requPath}" headerMessageKey="limited_account.activation.naviActivate">
	
		<jsp:attribute name="headerExt">
			<style type="text/css">
				.fsRow {
					margin-bottom: 0.2em;
					margin-top: 0.2em;
				}
				.fsLabel {
					line-height: 1.7em;
				}
				.fsSubmit {
					margin-top: 0.4em;
					margin-right: 2px;
					float: right;
				}
				.dissError {
					top: 0px;
				}
				#container.noPageNavigation div #postcontainer {
					border: none;
				}
				.twoCol {
					float: left;
					width: 40%;
					padding: 1em;
				}
				.checkboxWithText {
					float: left;
				}
				.checkboxText {
					width: 65%;
					font-weight: normal;
					line-height: 1.2;
					margin-left: 0.8em;
					float: left;
				}
				#fscontent {
					position: relative;
					top: -3em;
				}
				.rightside .paddedContainer {
					padding-top: 4em;
					padding-left: 2em;
				}
			</style>
		</jsp:attribute>
	
		<jsp:attribute name="heading">
			<parts:search pathMessageKey="limited_account.activation.naviActivate"/>
		</jsp:attribute>
				
		<!-- 
			Main content for the SAML activation page
		-->
		<jsp:attribute name="content">
			
				<!-- description text -->
				<div class="bookmarksContainer standard">
				<div class="paddedContainer">
					<fmt:message key="limited_account.activation.text.left">
						<fmt:param>${properties['project.name']}</fmt:param>
					</fmt:message>
					
					<form:form action="/limitedAccountActivation" method="POST" cssClass="form-horizontal">
						<bsform:fieldset legendKey="register.additional">
							<jsp:attribute name="content">
								<div class="dissError"><form:errors /></div>
								
								<bsform:input path="registerUser.email" labelKey="user.settings.email" noHelp="${true}" required="${true}" inputColSpan="8" labelColSpan="4" />
								<bsform:input path="registerUser.homepage" labelKey="user.settings.homepage" noHelp="${true}" required="${true}" inputColSpan="8" labelColSpan="4" />
								<bsform:input path="registerUser.realname" labelKey="user.settings.realname" noHelp="${true}" required="${true}" inputColSpan="8" labelColSpan="4" />
								
								
								<bsform:checkbox path="checkboxAccept" labelKey="limited_account.activation.activitionConditions" noHelp="${true}" inputColSpan="8"/>
								
								<input type="hidden" name="ckey" value="${command.context.ckey}"/>
								
								<div class="form-group">
									<div class="col-sm-offset-4 col-sm-3 col-md-3 col-lg-3">
										<bsform:button type="submit" style="success" valueKey="limited_account.activation.activate" size="defaultSize" />
									</div>
								</div>
							</jsp:attribute>
						</bsform:fieldset>
					</form:form>
					<div class="clearfloatDiv ">&#160;</div>
				</div>
				</div>
				
				<div class="publicationsContainer standard rightside">
				<div class="paddedContainer">
					<fmt:message key="limited_account.activation.text.right"/>
					<div class="clearfloatDiv ">&#160;</div>
				</div>
				</div>
				<div class="clearfloatDiv ">&#160;</div>
	
		</jsp:attribute>
		
		<!-- 
			news box ( = latest blog posts) 
			-->	   
		<jsp:attribute name="infobox">
			<c:if test="${not empty command.news}">
				<ul class="newsbox">
					<li>
						<span class="sidebar_hh"><fmt:message key="navi.news"/></span>
						<posts:tinybookmarks posts="${command.news}" cssClass="news"/>
					</li>
				</ul>
			</c:if>
		</jsp:attribute>
		
		<!-- 
			busy tag box 
			-->
		<jsp:attribute name="sidebar">
			<sidebar:sidebarTagCloudItem textKey="busytags" requPath="tag" cmd="${command.tagcloud}" tagboxMinfreqStyle="none" tagSizeMode="home"/>
		</jsp:attribute>

	</layout:paneLayout>
</jsp:root>