<?xml version="1.0" ?>
<jsp:root version="2.0"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
	xmlns:layout="urn:jsptagdir:/WEB-INF/tags/layout"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:form="http://www.springframework.org/tags/form"
	xmlns:spring="http://www.springframework.org/tags"
	xmlns:errors="urn:jsptagdir:/WEB-INF/tags/errors"
	xmlns:parts="urn:jsptagdir:/WEB-INF/tags/layout/parts"
	xmlns:register="urn:jsptagdir:/WEB-INF/tags/actions/register"
	xmlns:bsform="urn:jsptagdir:/WEB-INF/tags/bs/form"
	xmlns:mtl="urn:jsptld:/WEB-INF/taglibs/mytaglib.tld">
	
	<jsp:directive.page contentType="text/html; charset=UTF-8" language="java" pageEncoding="UTF-8" session="true" />

	<fmt:message key="navi.register" var="pageTitle" />

	<layout:singleContainerLayout requPath="${requPath}" command="${command}" pageTitle="${pageTitle}" smallBox="true">

		<jsp:attribute name="content">

			<form:form action="/registerSaml" method="POST" class="form-horizontal">

				<h1><fmt:message key="register.saml.step2" /></h1>
				<div class="lead">
					<p><fmt:message key="register.saml.step2.description"/></p>
				</div>
				<errors:global />
				<bsform:fieldset legendKey="register.saml.required">
					<jsp:attribute name="content">
						<!--  SAML PROVIDER ID -->
						<c:set var="formErrorsProviderId"><form:errors path="samlId.identityProviderId" /></c:set>
						<div class="form-group ${not empty formErrorsProviderId ? ' has-error' : ''}">
							<label class="control-label col-sm-4"><fmt:message key="user.settings.saml.identityProviderId"/></label>
						
							<div class="col-sm-8">
								<form:errors cssClass="errmsg" path="samlId.identityProviderId" />
								<p class="form-control-static"><tt><c:out value="${command.samlId.identityProviderId}"/></tt></p>
								
								<!-- errors -->
								<bsform:errors path="samlId.identityProviderId" />
							</div>
						</div>
						
						<!--  SAML USER ID -->
						
						<div class="form-group">
							<label class="control-label col-sm-4"><fmt:message key="register.saml.registerUser.samlId" /></label>
						
							<div class="col-sm-8">
								<p class="form-control-static"><tt><c:out value="${command.samlId.userId}"/></tt></p>
							</div>
						</div>

						<c:choose>
							<c:when test="${command.forceRemoteUserIdAsUsername}">
								<input type="hidden" value="${command.registerUser.name}" name="registerUser.name" />
							</c:when>
							<c:otherwise>
								<!-- LOCAL USER NAME / ALIAS -->
								<bsform:input path="registerUser.name" labelColSpan="4" inputColSpan="8" labelKey="register.saml.registerUser.name" noHelp="${true}" inputGroupSymbol="@" />
							</c:otherwise>
						</c:choose>
						
						<!-- EMAIL ADDRESS -->
						<bsform:input path="registerUser.email" labelColSpan="4" inputColSpan="8" labelKey="register.saml.registerUser.email" inputGroupFaIcon="fa-envelope" noHelp="${true}" />
						
						<c:forEach var="field" items="${fn:split(properties['auth.register.saml.fields.required'], ',')}">
							<register:field field="${field}" />
						</c:forEach>
					</jsp:attribute>
				</bsform:fieldset>
				<c:set var="optionalFields" value="${properties['auth.register.saml.fields.optional']}" />
				<c:if test="${not empty optionalFields}">
					<bsform:fieldset  legendKey="register.saml.optional">
						<jsp:attribute name="content">
							<c:forEach var="field" items="${fn:split(optionalFields, ',')}">
								<register:field field="${field}" />
							</c:forEach>
						</jsp:attribute>
					</bsform:fieldset>
				</c:if>
				<div class="form-group">
					<div class="col-sm-offset-4 col-sm-8">
						<button type="submit" class="btn btn-success"><fmt:message key="register.saml.registerUser.activate" /></button>
					</div>
				</div>
			</form:form>
		</jsp:attribute>
	</layout:singleContainerLayout>
</jsp:root>