<?xml version="1.0" ?>
<jsp:root version="2.0"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:jsp="http://java.sun.com/JSP/Page"
  xmlns:c="http://java.sun.com/jsp/jstl/core"
  xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
  xmlns:export="urn:jsptagdir:/WEB-INF/tags/export/bibtex"
  xmlns:mtl="urn:jsptld:/WEB-INF/taglibs/mytaglib.tld"
  xmlns:fn="http://java.sun.com/jsp/jstl/functions">
  
  <jsp:directive.page contentType="application/xml; charset=UTF-8" language="java" pageEncoding="UTF-8" session="true" isELIgnored="false"/>  
  
  <export:rssSkeleton format="aparss">

    <jsp:attribute name="content">
        <c:set var="content"><export:apaContentEncoded post="${post}"/></c:set>
        <c:out value="${content}"/>
    </jsp:attribute>
  
  </export:rssSkeleton>
  
</jsp:root>