<?xml version="1.0" ?>
<jsp:root version="2.0"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
	xmlns:layout="urn:jsptagdir:/WEB-INF/tags/layout"
	xmlns:tags="urn:jsptagdir:/WEB-INF/tags/tags"
    xmlns:bm="urn:jsptagdir:/WEB-INF/tags/resources/bookmark"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
    xmlns:batch="urn:jsptagdir:/WEB-INF/tags/actions/edit/batch"
    xmlns:rc="urn:jsptagdir:/WEB-INF/tags/resources/common"
	xmlns:mtl="urn:jsptld:/WEB-INF/taglibs/mytaglib.tld">
	
	<jsp:directive.page contentType="text/html; charset=UTF-8" language="java" pageEncoding="UTF-8" session="true" />

	<c:set var="updateExistingPost" value="${true}" />
	<mtl:exists path="command.updateExistingPost">
		<c:set var="updateExistingPost" value="${command.updateExistingPost}" />
	</mtl:exists>

	<c:set var="overwrite" value="false" />
	<mtl:exists path="command.overwrite">
		<c:set var="overwrite" value="${command.overwrite}" />
	</mtl:exists>

    <batch:skeleton listView="${command.bookmark}" resourceType="bookmark" listViewStartParamName="bookmark.start" otherPostsUrlPrefix="/bookmark" updateExistingPost="${updateExistingPost}" overwrite="${overwrite}">
      <jsp:attribute name="shortPostDescription"><bm:shortDescription post="${post}"/></jsp:attribute>
    </batch:skeleton>

</jsp:root>