<?xml version="1.0" ?>
<jsp:root version="2.0"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
	xmlns:layout="urn:jsptagdir:/WEB-INF/tags/layout"
	xmlns:post="urn:jsptagdir:/WEB-INF/tags/post"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:errors="urn:jsptagdir:/WEB-INF/tags/errors"
	xmlns:spring="http://www.springframework.org/tags"
	xmlns:form="http://www.springframework.org/tags/form"
	xmlns:parts="urn:jsptagdir:/WEB-INF/tags/layout/parts"
	xmlns:mtl="urn:jsptld:/WEB-INF/taglibs/mytaglib.tld"> 
	
	<jsp:directive.page contentType="text/html; charset=UTF-8" language="java" pageEncoding="UTF-8" session="true" />

	<layout:paneLayout pageTitle="${command.pageTitle}" command="${command}" headerMessageKey="import" requPath="${requPath}">
		
		<jsp:attribute name="heading">
			<parts:search pathMessageKey="import"/>
		</jsp:attribute>
		
		<jsp:attribute name="content">
			<!-- display potential errors -->
			<errors:global />
			
			<!-- in case of existing errors, look into the importType and redraw the 
				 respective form 
				 TODO: Handle browser import simply by error-Messages on the main page? -->
			<c:choose>
				<c:when test="${command.importType eq 'browser' and command.totalCount == 0}">
					<post:browserImport />
				</c:when>
				<c:when test="${empty command.importType}">
					<post:browserImport />
					<post:deliciousImport />
				</c:when>
				<c:otherwise>
					<!-- make some output about the import results -->
					<post:importResults command="${command}" />
				</c:otherwise>
			</c:choose>
		</jsp:attribute>
		
	</layout:paneLayout>
</jsp:root>