<?xml version="1.0" ?>
<jsp:root version="2.0"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
	xmlns:layout="urn:jsptagdir:/WEB-INF/tags/layout"
  xmlns:fn="http://java.sun.com/jsp/jstl/functions"
  xmlns:user="urn:jsptagdir:/WEB-INF/tags/resources/user"
	xmlns:tags="urn:jsptagdir:/WEB-INF/tags/tags"
  xmlns:buttons="urn:jsptagdir:/WEB-INF/tags/buttons"
	xmlns:mtl="urn:jsptld:/WEB-INF/taglibs/mytaglib.tld">
	
  <jsp:directive.page contentType="text/html; charset=UTF-8" language="java" pageEncoding="UTF-8" session="true" />

    <layout:layout loginUser="${command.context.loginUser}" pageTitle="${command.pageTitle}" requPath="${requPath}" >

		<jsp:attribute name="heading">
    		<link rel="stylesheet" href="/resources/css/gadgets.css">&amp;nbsp;</link>
    		
			<script type="text/javascript" src="/gadgets/js/shindig-container:rpc.js?c=1&amp;debug=1"><!-- keep me --></script>
			
			<!--  autocomplete user info box -->
			<script type="text/javascript">
					var securityToken = "${command.securityToken}"; 
			<![CDATA[
			     	var my = {};

			    	my.cnt = 0;

			    	my.gadgetSpecUrls = [ 
			 			    	 		'http://www.google.com/ig/modules/horoscope.xml',
						    	 		'http://www.google.com/ig/modules/horoscope.xml',
						    	 		'http://www.google.com/ig/modules/horoscope.xml'
			    			//'https://opensocialdeju.googlecode.com/svn/Twitter/TwitterDemo.xml',
			    			//'http://www.labpixies.com/campaigns/todo/todo.xml' 
			  			    			];

			    	// This container lays out and renders gadgets itself.

			    	my.LayoutManager = function() {
			    		shindig.LayoutManager.call(this);
			    	};

			    	my.LayoutManager.inherits(shindig.LayoutManager);

			    	my.LayoutManager.prototype.getGadgetChrome = function(gadget) {
			    		var chromeId = 'gadget-chrome-' + gadget.id;
			    		return chromeId ? document.getElementById(chromeId) : null;
			    	};

			    	my.init = function() {
			    		shindig.container.layoutManager = new my.LayoutManager();
			    		
			    		for (i=0; i<this.gadgetSpecUrls.length; i++) {
				    		this.renderGadget(this.gadgetSpecUrls[i]);
			    		}
			    	};

					my.createPortlet = function(id) {
						var portlet = document.createElement('div');
						$(portlet).addClass('portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all');
						
						var header  = document.createElement('div');
						header.innerHTML = 'Gadget';
						$(header).addClass('portlet-header ui-widget-header ui-corner-all' )
							.prepend( "<span class='ui-icon ui-icon-minusthick'></span>")
							.end();
						
						var content = document.createElement('div');
						$(content).addClass('portlet-content gadgets-gadget-chrome');
						content.id = 'gadget-chrome-'+id;

						portlet.appendChild(header);
						portlet.appendChild(content);

						return portlet;
					}
			    	
			    	my.renderGadget = function(specUrl) {
			    		// create gadget container
			    		
			    		// var containerElement =  document.getElementById('targetPortlet');

			    		// var newContainer       = document.createElement('div');
			    		
			    		// newContainer.id        = 'gadget-chrome-'+my.cnt;		
			    		// newContainer.className ='gadgets-gadget-chrome';
						//	containerElement.appendChild(newContainer);
						var containerElement =  document.getElementById('targetColumn'+(my.cnt%3));
						var containerPortlet = this.createPortlet(my.cnt); 
						containerElement.appendChild(containerPortlet);
						
			    		// render gadget
			    		var gadget = shindig.container.createGadget( {specUrl : specUrl, secureToken: securityToken} );
			    		gadget.getTitleBarContent = function(continuation) {
				    			continuation('');
				    		};
			    		shindig.container.addGadget(gadget);
			    		shindig.container.renderGadget(gadget);
			    		setTimeout("shindig.container.refreshGadgets()", 500);
						
			    		my.cnt++;
			    	};
						
  				$(function() {
  	  				my.init();
	  			});
  			]]>
			</script>
		    
    	<!--+
    		| sortable demo
    		+-->
    	<link rel="stylesheet" href="${resdir}/jquery/themes/base/jquery.ui.all.css"><!-- keep me --></link>
    	
		<script type="text/javascript" src="${resdir}/jquery/plugins/sortable/jquery.ui.core.js"><!-- keep me --></script>
		<script type="text/javascript" src="${resdir}/jquery/plugins/sortable/jquery.ui.widget.js"><!-- keep me --></script>

		<script type="text/javascript" src="${resdir}/jquery/plugins/sortable/jquery.ui.mouse.js"><!-- keep me --></script>
		<script type="text/javascript" src="${resdir}/jquery/plugins/sortable/jquery.ui.sortable.js"><!-- keep me --></script>
		
		<style>
.column {
	width: auto;
	float: left;
	padding-bottom: 100px;
}

.portlet {
	margin: 0 1em 1em 0;
}

.portlet-header {
	margin: 0.3em;
	padding-bottom: 4px;
	padding-left: 0.2em;
}

.portlet-header .ui-icon {
	float: right;
}

.portlet-content {
/*	padding: 0.4em;*/
}

.ui-sortable-placeholder {
	border: 1px dotted black;
	visibility: visible !important;
	height: 50px !important;
}

.ui-sortable-placeholder * {
	visibility: hidden;
}
</style>

	<script>
	<![CDATA[
	$(function() {
		$( ".column" ).sortable({
			connectWith: ".column"
		});

		/*
		$( ".portlet" ).addClass( "ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" )
			.find( ".portlet-header" )
				.addClass( "ui-widget-header ui-corner-all" )
				.prepend( "<span class='ui-icon ui-icon-minusthick'></span>")
				.end()
			.find( ".portlet-content" );
		*/
		$( ".portlet-header .ui-icon" ).click(function() {
			$( this ).toggleClass( "ui-icon-minusthick" ).toggleClass( "ui-icon-plusthick" );
			$( this ).parents( ".portlet:first" ).find( ".portlet-content" ).toggle();
		});

		$( ".column" ).disableSelection();
	});
		]]>
	</script>
	</jsp:attribute>

	<jsp:attribute name="content">
		Input Gadget URL: 
		<form class="gadgetInputBox" onSubmit="my.renderGadget(this.gadgetUrl.value); return false;" action="">
			<span>
				<input size="50" type="text" name="gadgetUrl" id="gadgetUrl" value="http://www.google.com/ig/modules/horoscope.xml"/>
				<input class="navigation" value="Render Gadget" type="submit" name="b1"/>
			</span>
		</form>
		<br />
		
		<div id="gadgets">&amp;nbsp;
		</div>
    
    	<!--+
    		| sortable demo
    		+-->
    
		<div class="demo">

			<div id="targetColumn0" class="column">&amp;nbsp;
			</div>

			<div id="targetColumn1" class="column">&amp;nbsp;
			</div>

			<div id="targetColumn2" class="column">&amp;nbsp;
			</div>

		</div>
    	
	</jsp:attribute>
       
  </layout:layout>
</jsp:root>