.bookmarkList {
	list-style-type: none;
	padding-left: 0px;
}

.helpList {
	list-style-type: disc;
	list-style-position: inside;
	margin-left: 2em;
}

.details {
	display: none;
}

a.cv-bookmark-details {
	cursor: pointer;
	margin-left: 4px;
}

#cv-tags .tagcloud li a {
	margin: 0.3em;
	display: inline-block;
}

ul#bookmarklist li, #publications div.publication {
	padding-bottom: 0.5em;
}

#publications div.publication:last-of-type, .bookmarkList li:last-of-type {
	padding-bottom: 0em;
}

input[type=button] {
	margin: 0.2em;
}

.secondTD {
	padding-bottom: 5px;
	vertical-align: top;
}

.personalData td {
	width: 200px;
	padding-bottom: 5px;
	vertical-align: top;
}

#wikiArea p, dl {
	padding-left: 1.2em;
}

.entry {
	font-size:14px;
	line-height:14px;
	text-decoration:none;
}

.entry_title {
	font-weight: bold;
}
.entry_journal, .entry_booktitle {
	font-style: italic;
	color:#478080;
}

.imageContainer {
	max-width: 200px;
	text-align: center;
	display:inline-block;
	margin: 5px 5px 5px 5px;
}

.groupImage {
	max-width: auto;
	text-align: center;
	margin: 0 auto;
	text-align:center;
}

.error {
	background-color: red;
	color: black;
	display: inline-block;
	padding: 5px;
}

/************* username color *****************/
.userlist_username_orange {
	color: #ECBA34;
}

a.userlist_username_orange:hover {
	color: #ECBA34;
}
