.form-subTitle.page-header {
  margin-bottom: 15px;
}

.project-subtitle {
  font-size: 130%;
  display: inline-block;
  color: #888;
  width: 100%;
  max-width: 850px;
}

.project-authors {
  margin-top: 15px;
}

.project-subheadlines {
  font-size: 24px;
}

ul#projects li {
  margin-top: 10px;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 15px;
  padding-bottom: 10px;

  h4 {
    height: initial;
    font-size: initial;

    small {
      font-size: initial;
    }
  }
}