.spheres {
	margin: 1%;
	border: 1px solid #999999;
	border-radius: 25px;
	padding: 30px;
}

.sphere_hidden {
	display: none;
}

.sphere_header {
	font-size: 120%;
	font-weight: bold;
	color: #006699;
	width: 100%;
	border-bottom: 1px solid #D3DFE2;
	margin-bottom: 1ex;
}

.sphere_bottom_header {
	font-size: 120%;
	font-weight: bold;
	color: #aeaeae;
	width: 100%;
	border-bottom: 0;
	margin-bottom: 1ex;
	text-align: left;
}

.sphere_users {
	margin-left: 1em;
	float: left;
}

.sphere_tag_cloud {
	width: 34%;
	float: left;
}

.sphere_control {
	width: 65%;
	text-align: right;
	margin-left: 2em;
	margin-bottom: 1em;
	margin-top: 0em;
}

.sphere_resources {
	display: none;
}

.sphere_user_list {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

.left_sphere_list_entry {
	width: 64%;
}

.sphere_user_list li {
	display: inline;
	line-height: 1.5em;
	padding: 0 0.1em;
}

.sphere_image_container {
	float: left;
	text-align: center;
	margin-bottom: 2px;
	margin-right: 5px;
}

.sphere_image_container * img {
	height: 60px;
}

.sphere_sidebar_heading {
	font-size: 110%;
	font-weight: bold;
}

.sphere_footer {
	clear: both;
	margin-bottom: 2ex;
}

.sphere_image_container .imageCapture {
	font-size: 80%;
}

.addContainer {
	position: absolute;
	z-index: 50;
}

.addSpheres {
	position: relative; 
	overflow: visible;
}

#sphereList li{
	margin-top: 2px;
}

#sphereList {
	margin: 0!important; 
	padding:0!important;
	padding-left: 10px!important; 
	padding-right: 10px!important; 
	padding-top: 5px!important; 
	padding-bottom: 5px!important; 
	border-width: thin; 
	list-style-type: circle!important; 
	list-style-position: inside!important; 
	background-color: #EEEEEE; 
	border-style: solid; 
	border-color: #006699;
	font-size: 95%;
	
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    
    -khtml-border-top-left-radius: 10px;
    -khtml-border-top-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    -khtml-border-bottom-left-radius: 10px;
    
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
	
}

#addNewSphere {
	margin-left: 5px; 
	vertical-align: middle;
	color: #2F3321;
	background-color: #C6C6C6;
	border: 1px solid #006699;
	cursor: pointer;
	
	-khtml-border-top-left-radius: 4px;
    -khtml-border-top-right-radius: 4px;
    -khtml-border-bottom-right-radius: 4px;
    -khtml-border-bottom-left-radius: 4px;
    
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4 px;
	
}

/****************************************************************************/
/* spheres graph styling                                                    */
/****************************************************************************/
#spheresGraph {
	background-color: #FFFFFF;
	position: relative;
	border-radius: 15px;
	height: 300px;
}

.node circle {
	cursor: pointer;
	stroke: #333;
	stroke-width: 0px;
}

circle {
	fill: #ccc;
	stroke: #333;
	stroke-width: 1.5px;
}

text {
	font: 14px sans-serif;
}

text.shadow {
	stroke: #fff;
	stroke-width: 3px;
	stroke-opacity: .8;
}

circle.node {
	cursor: pointer;
	stroke: #000;
	stroke-width: 1px;
}

line.link {
	fill: none;
	stroke: #9ecae1;
	stroke-width: 1.5px;
}

circle.node {
	stroke: #fff;
	stroke-width: 1.5px;
}

line.link {
	stroke: #999;
	stroke-opacity: .6;
}

#Big {
	margin: 10px;
	position: absolute;
}

#Small {
	left: 30px;
	margin: 10px;
	position: absolute;
}