<jsp:root version="2.0"
		  xmlns:jsp="http://java.sun.com/JSP/Page"
		  xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
		  xmlns:fn="http://java.sun.com/jsp/jstl/functions"
		  xmlns:person="urn:jsptagdir:/WEB-INF/tags/person"
		  xmlns:c="http://java.sun.com/jsp/jstl/core">

	<jsp:directive.page contentType="text/html; charset=UTF-8" language="java" pageEncoding="UTF-8" session="true"/>

	<c:choose>
		<c:when test="${fn:length(command.otherPubs) gt 0}">
			<c:choose>
				<c:when test="${empty command.personPostsLayout or command.personPostsLayout == 'DEFAULT'}">
					<person:publications command="${command}" relations="${command.otherPubs}" isSimilarAuthors="${false}"/>
				</c:when>
				<c:otherwise>
					<person:renderedPostList command="${command}" publications="${command.myownPosts}" hideHeadline="${true}" buttons="${true}" />
				</c:otherwise>
			</c:choose>
		</c:when>
		<c:when test="${fn:length(command.myownPosts) gt 0}">
			<c:choose>
				<c:when test="${empty command.personPostsLayout or command.personPostsLayout == 'DEFAULT'}">
					<person:publications command="${command}" publications="${command.myownPosts}" isSimilarAuthors="${false}"/>
				</c:when>
				<c:otherwise>
					<person:renderedPostList command="${command}" publications="${command.myownPosts}" hideHeadline="${true}" buttons="${true}" />
				</c:otherwise>
			</c:choose>
		</c:when>
		<c:when test="${fn:length(command.similarAuthorPubs) gt 0}">
			<person:publications command="${command}" relations="${command.similarAuthorPubs}" isSimilarAuthors="${true}"/>
		</c:when>
		<c:otherwise>

		</c:otherwise>
	</c:choose>
</jsp:root>
