<?xml version="1.0" ?>  
<jsp:root version="2.0"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
	xmlns:layout="urn:jsptagdir:/WEB-INF/tags/layout"
	xmlns:tags="urn:jsptagdir:/WEB-INF/tags/tags"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:parts="urn:jsptagdir:/WEB-INF/tags/layout/parts"
	xmlns:errors="urn:jsptagdir:/WEB-INF/tags/errors"
	xmlns:spring="http://www.springframework.org/tags"
	xmlns:mtl="urn:jsptld:/WEB-INF/taglibs/mytaglib.tld"> 
	
	<jsp:directive.page contentType="text/html; charset=UTF-8" language="java" pageEncoding="UTF-8" session="true" />

	<!-- TODO: i18n -->
	<layout:paneLayout pageTitle="An error occured!" requPath="" command="${command}" headerMessageKey="error" showPageOptions="${true}">
		<jsp:attribute name="heading">
			<parts:search pathMessageKey="error"/>
		</jsp:attribute>
		
		<jsp:attribute name="content">
			<errors:global dismissible="${false}"/>
		</jsp:attribute>
	</layout:paneLayout>
</jsp:root>