<?xml version="1.0" ?>
<jsp:root version="2.0" xmlns="http://www.w3.org/1999/xhtml"
		  xmlns:jsp="http://java.sun.com/JSP/Page"
		  xmlns:c="http://java.sun.com/jsp/jstl/core"
		  xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
		  xmlns:parts="urn:jsptagdir:/WEB-INF/tags/layout/parts"
		  xmlns:layout="urn:jsptagdir:/WEB-INF/tags/layout"
		  xmlns:persons="urn:jsptagdir:/WEB-INF/tags/person">

	<jsp:directive.page contentType="text/html; charset=UTF-8" language="java" pageEncoding="UTF-8" session="true" />

	<c:set var="crisSystem" value="${properties['system.cris'] eq 'true'}" />
	<c:choose>
		<c:when test="${not crisSystem}">
			<fmt:message key="persons.intro.head.title" var="personIntroTitle">
				<fmt:param value="${properties['project.name']}" />
			</fmt:message>
		</c:when>
		<c:otherwise>
			<fmt:message key="persons" var="personIntroTitle" />
		</c:otherwise>
	</c:choose>

	<layout:paneLayout pageTitle="${personIntroTitle}" headerMessageKey="gettingStarted.headline" command="${command}" requPath="${requPath}" noSidebar="${true}" activeTab="persons">

		<jsp:attribute name="heading">
			<c:if test="${not crisSystem}">
				<parts:search pathMessageKey="navi.persons" formAction="/search" formInputName="search"/>
			</c:if>
		</jsp:attribute>

		<jsp:attribute name="headerExt">
			<script type="text/javascript" src="${resdir}/javascript/animatescroll.js"><!-- --></script>
			<script type="text/javascript" src="${resdir}/javascript/animate-scroll-affix.js"><!-- --></script>

			<script type="text/javascript" src="${resdir}/typeahead.js/js/typeahead.bundle.js"><!-- keep me --></script>
			<script type="text/javascript" src="${resdir}/javascript/person/personAutocomplete.js"><!-- keep me --></script>
			<script type="text/javascript" src="${resdir}/javascript/person/autocompleteSearchPerson.js"><!-- keep me --></script>
			
			<link rel="stylesheet" type="text/css" href="${resdir}/typeahead.js/css/typeahead.css"/>
		</jsp:attribute>
		
		<jsp:attribute name="content">
			<c:choose>
				<c:when test="${not crisSystem}">
					<persons:bmbfPersons title="${personIntroTitle}" command="${command}" />
				</c:when>
				<c:otherwise>
					<persons:personsOverview command="${command}" />
				</c:otherwise>
			</c:choose>
		</jsp:attribute>
	</layout:paneLayout>

</jsp:root>