<?xml version="1.0" ?>
<jsp:root version="2.0" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
	xmlns:layout="urn:jsptagdir:/WEB-INF/tags/layout"
	xmlns:user="urn:jsptagdir:/WEB-INF/tags/actions/user">

	<jsp:directive.page contentType="text/html; charset=UTF-8" language="java" pageEncoding="UTF-8" session="true" />
	
	<fmt:message key="devicesupport.header" var="pageTitle" />
	
	<layout:paneLayout command="${command}" pageTitle="${pageTitle}" requPath="${requPath}" headerMessageKey="devicesupport.header">
		
		<jsp:attribute name="heading">
			<!-- nothing to show -->
		</jsp:attribute>
		
		<jsp:attribute name="content">
			<div><fmt:message key="devicesupport.description" /></div>
			
			<fmt:message key="devicesupport.allow" var="allow" />
			<fmt:message key="devicesupport.deny" var="deny" />
			
			<br />
			<form style="display: inline;">
				<input type="hidden" name="shareInformation" value="true" />
				<input type="hidden" name="ckey" value="${command.context.ckey}" />
				<input type="submit" class="btn btn-sm btn-success" value="${allow}" />
			</form>
			<c:out value=" " />
			<form style="display: inline;">
				<input type="hidden" name="shareInformation" value="false" />
				<input type="hidden" name="ckey" value="${command.context.ckey}" />
				<input type="submit" class="btn btn-sm btn-danger" value="${deny}" />
			</form>
		</jsp:attribute>
	</layout:paneLayout>
</jsp:root>