#scrollpagination {
	max-width: 600px;
	margin: 0px auto;
}

#scrollpagination ul {
	list-style: none;
	width: 100%;
	margin: 0px auto;
	padding: 0px;
}

#scrollpagination ul li {
	margin: 10px 0px;
	width: 100%;
	background: #352828;
	padding: 5px 10px;
	border-radius: 6px;
	text-shadow: 2px 1px -1px #000000;
}

.loading {
	background: #c1c39a;
	color: #303030;
	font-size: 20px;
	padding: 5px 10px;
	text-align: center;
	width: 100%;
	margin: 0px auto;
	display: none;
	border-radius: 5px;
}

.cust-loader {
	width: 100%;
	height: 120px;
	padding: 10px 0;
	text-align: center;
	display: none;
}

.cust-spinner {
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 100px;
	height: 100px;
	animation: spin 2s linear infinite;
	display: inline-block;
	text-align: center;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}